<app-header></app-header>

<div class="content bg-light mt-2 mb-3">
  <div class="container">
    <h1 class="display-4">Escolha aqui até 3 sabores</h1>
    <p class="lead">Junto com seu pedido você receberá uma dose de NRG e Herbal Concentrate</p>
  </div>
</div>
<div class="container">
  <mat-card>
    <h1>Sabor</h1>
    <p>Escolha de 1 a 3 porções</p>
    <form>
      <section class="example-section" *ngFor="let flavour of flavours">
        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.banana }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.chocolate }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.coconut }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.coffee }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.cookies }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.milk }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.passion_fruit }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.peanuts }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.strawberry }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>

        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">{{ flavour.vanilla }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
      </section>
    </form>
  </mat-card>

  <mat-card>
    <h1>Extras (terá um acréscimo de R$ 3,50)</h1>
    <p>Escolha até 7 opções</p>
    <form>
      <section class="example-section">
        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">Fibra de Uva</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Baunilha Cremoso</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Chocolate Sensation</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Coco</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Cookies 'n Cream</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </section>
    </form>
  </mat-card>
  <button type="button" class="btn btn-outline-success btn-lg mt-5" routerLink="/cart">Adicionar</button>
</div>
<footer class="footer mt-5 pt-5">
  <div class="container">
    <p>Formas de pagamento</p>
  </div>
</footer>


