<app-header></app-header>

<div class="jumbotron jumbotron-fluid mt-2">
  <div class="container">
    <h1 class="display-4">Escolha aqui até 3 sabores</h1>
    <p class="lead">Junto com seu pedido você receberá uma dose de NRG e Herbal Concentrate</p>
  </div>
</div>
<div class="container">
  <mat-card>
    <h1>Sabor</h1>
    <p>Escolha de 1 a 3 porções</p>
    <form>
      <section class="example-section">
        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">Banana Caramelizada</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Baunilha Cremoso</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Chocolate Sensation</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Coco</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Cookies 'n Cream</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </section>
    </form>
  </mat-card>

  <mat-card>
    <h1>Extras (terá um acréscimo de R$ 3,50)</h1>
    <p>Escolha até 7 opções</p>
    <form>
      <section class="example-section">
        <mat-list>
          <mat-list-item>
            <mat-checkbox class="example-margin">Fibra de Uva</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Baunilha Cremoso</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Chocolate Sensation</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Coco</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-checkbox class="example-margin">Cookies 'n Cream</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </section>
    </form>
  </mat-card>
  <button type="button" class="btn btn-outline-success btn-lg mt-5">Adicionar</button>
  <footer class=" footer mt-5 pt-5">
    <p>Formas de pagamento</p>
  </footer>
</div>


