<app-header></app-header>

<div class="jumbotron jumbotron-fluid mt-2">
  <div class="container">
    <h1 class="display-4">MEUS PEDIDOS</h1>
    <p class="lead">
      Obrigado pela sua escolha... Agora é só confirmar e escolher a forma de
      pagamento!
    </p>
  </div>
</div>

<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-sm-4">
            <p class="product-cart mt-4">Shake Gourmet</p>
          </div>
          <div class="col-sm-4">
            <p class="product-cart mt-4">R$ 28,00</p>
          </div>
        </div>

      </div>
      <div class="col-2">
        <mat-form-field class="example-full-width">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput value="0">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-icon>cancel</mat-icon>
      </div>
    </div>
  </mat-card>
  <mat-card class="mt-3">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-sm-4">
            <p class="product-cart mt-4">Slim Day</p>
          </div>
          <div class="col-sm-4">
            <p class="product-cart mt-4">R$ 97,00</p>
          </div>
        </div>

      </div>
      <div class="col-2">
        <mat-form-field class="example-full-width">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput value="0">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-icon>cancel</mat-icon>
      </div>
    </div>
  </mat-card>
  <button type="button" class="btn btn-outline-success btn-lg mt-5">Adicionar</button>
</div>
