<app-header></app-header>

<div class="jumbotron jumbotron-fluid mt-2">
  <div class="container">
    <h1 class="display-4">MEUS PEDIDOS</h1>
    <p class="lead">
      Obrigado pela sua escolha... Agora é só confirmar e escolher a forma de
      pagamento!
    </p>
  </div>
</div>

<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-8">
        <h2 class="mb-4">Produto</h2>
        <p class="mt-4n">Shake Gourmet</p>
      </div>
      <div class="col-4">
        <h2>Quantidade</h2>
        <mat-form-field class="example-full-width">
          <mat-label>Quantidade</mat-label>
          <input type="number" matInput value="0">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>
