@import 'src/styles';

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  color: $color-toolbar;
}

.img-size {
  width: 20%;
  display: flex;
}

.card {
  border: 1px solid green;
  border-radius: 0;
}
